*~
*.kdev4
*.patch
.directory
*.kate-swp*
debian
.pc
build
CMakeLists.txt.user
.gdbinit
.local.vimrc
.ycm_extra_conf.py
global.hpp
test/include/Wintermute/Testing
CMakeCache.txt
CMakeFiles/*
DartConfiguration.tcl
Makefile
cmake_install.cmake
cmake_uninstall.cmake
FindWintermute.cmake
src/Wintermute/Globals
lib/*/globals.hpp
*.pyc
gdb.txt
*.orig
tags
