# vim: set ft=gitignore :
build/*
.ycm_extra_conf.pyc
CTestConfig.cmake
*.orig
CTestConfig.cmake
**/**/globals.hpp
**/**/test_suite.hpp
.vagrant/*
**/wintermute.log
src/wintermute-core/export.hh
cmake/Modules/UseWintermute.cmake
# Created by https://www.gitignore.io/api/vim

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

