language: cpp
compiler:
  - gcc
  - clang

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install -qq pkg-config cmake qt4-dev-tools libqt4-dev libqt4-dbg libqjson0 libqjson-dev libqjson-dbg python-pip python lcov valgrind libzmq3-dev libzmq3-dbg libzmq3
  - sudo pip install cpp-coveralls
  - test/build_deps.sh

before_script:
  - mkdir build && cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Debug -DWITH_TESTS=ON -DWITH_DOCUMENTATION=OFF -DCMAKE_MODULE_PATH=/usr/share/apps/cmake

script:
  - make wintermute
  - make Nightly

after_success:
  - coveralls -r . -e .

env:
  - CMAKE_MODULE_PATH=/usr/share/apps/cmake/Modules:/usr/share/apps/cmake/modules

branches:
  except:
    - master

notifications:
  email: me@jalcine.me
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a032628cb25b35b52924
    on_success: change
    on_failure: always
